
body {
  background-color: #ccc;
  padding-top: 7px;
}

.container {
  max-width: 1000px;
}

.jumbotron {
  text-align: center;
}

.glyphicon {
  font-size: 3em;
  display: block;
  text-align: center;
  color:#3a87ad;
}
